html, body {
    font-family: 'Open Sans', sans-serif;
    color:rgb(53, 53, 53);
    font-size: 0.9rem;
}

body {
    background-color: #07080c;
}

/* -------------------------------- 

Header

-------------------------------- */
#wrapper{
	position: relative;
	width: 100%;
    background: #0000;
    top: -40px;
}

#wrapper:after{
	content: "";
	display: block;
	padding-top: 27.06666%; /* 406 over 1500  */
}
#bg_img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(http://transatlanticsplat.com/img/logos/TASL_League_Assets_SGG_Header_2.png);
    background-size: 100% 100%;
    z-index:-1;
}

/* -------------------------------- 

Body

-------------------------------- */
.container
{
  text-align: center;
  padding: 15px;  
}

.content{ 
    border-top: 3px solid #18aced;
    border-bottom: 3px solid #ce2c4b;
    background: rgba(228,234,249, 1.0);
    width: 70%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom:10px;
    padding:10px;
    overflow: hidden;
}

header {
    margin-bottom:10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: bold;
    font-size: 1.5rem;
    text-align: center;
    color:#164151;
}

div#leftdiv {
    float:left;
    width:49%;
    overflow:hidden;
    margin-top: 20px;
    padding-right: 5px;
}
div#rightdiv {
    float:left;
    width:49%;
    overflow:hidden;
    margin-top: 20px;
    padding-left: 5px;
}

div#mapwrapper{
    width: 100%;
    overflow:hidden;
}

div#column{
    float: left; 
    width: 25%;
}

div#column2{
    float: right; 
    width: 25%; 
}

/* -------------------------------- 

Navigation Bar

-------------------------------- */
.nav ul {
    width: 72%;
    list-style-type: none;
    border-radius: 15px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    top: -100px;
}

.nav li {
    float: left;
    width: 20%;
}

.nav li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover:not(.active) {
    color: white;
    background-color: #ce2c4b;
}

.nav li a.active {
    color: white;
    background-color: #18aced;
}

/* -------------------------------- 

Sylization

-------------------------------- */
b{
    color: #ce2c4b;
}

i{
    color: #18aced;
}

a{
    color: #8b669c;
    text-decoration:none;
}

a:hover{
    color: #524969;
}

u{
    color: #4c3e70;
    font-weight: bolder; 
}

h1{
    font-family: 'PT Sans', sans-serif;
    font-size: 1.4rem;
    color: #8b669c;
}

h2{
    font-family: 'PT Sans', sans-serif;
    font-size: 1.2rem;
    color: #18aced;
}

h3{
    font-family: 'PT Sans', sans-serif;
    font-style: italic;
    font-size: 1rem;
    color: #ce2c4b;
}

h4{
    font-family: 'PT Sans', sans-serif;
    font-size: 1.2rem;
    color: #18aced;
    padding: 1px;
    margin: 0;
}

h5{
    font-family: 'PT Sans', sans-serif;
    font-size: 1.2rem;
    color: #ce2c4b;
    padding: 1px;
    margin: 0;
}

h6{
    font-family: 'PT Sans', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: #8b669c;
    padding: 1px;
    margin: 0;
}

blockquote {
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: #ce2c4b;
    content: open-quote;
    font-family: 'Open Sans', sans-serif;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

.showcase{
    background-color: rgb(208, 193, 221);
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
}

tbd {
    color: #ce2c4b;
    font-size: 7em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'ABeeZee', sans-serif;    
}

team_img {
    width: 30%;
}

/* -------------------------------- 

Mobile View

-------------------------------- */
@media (max-width: 1000px) {
    html, body{
        font-family: 'Open Sans', sans-serif;
        color:rgb(53, 53, 53);
        font-size: 1rem;
    }

    .content{ 
        border-top: 3px solid #18aced;
        border-bottom: 3px solid #ce2c4b;
        background: rgba(228,234,249, 1.0);
        width: 90%;
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom:10px;
        padding:10px;
    }

    .nav ul {
        width: 95%;
        list-style-type: none;
        border-radius: 15px;
        margin: 0 auto;
        padding: 0;
        overflow: hidden;
        font-size:0.9rem;
        border: 1px solid #e7e7e7;
        background-color: #f3f3f3;
        top: -100px;
    }
    
    div#leftdiv {
        float:left;
        width:99%;
        overflow:hidden;
        margin-top: 20px;
        padding-right: 5px;
    }
    div#rightdiv {
        float:left;
        width:99%;
        overflow:hidden;
        margin-top: -10px;
        padding-left: 0px;
    }


    div#column{
        width: 100%;
    }

    div#column2{
        width: 100%; 
    }

}